<h1>Contáctenos</h1>
<img id= "imagen" src="{{img}}" alt="imagen propia">
<p><b>Identidad:</b> 0801 1996 07333</p>
<p><b>Nombre:</b> Héctor Yovanni Doblado Lanza</p>
<p><b>Teléfono:</b> +504 9996 8040</p>
<p><b>Correo:</b> hectorydoblado@gmail.com</p>
<p><b>Institución:</b> Universidad Católica de Honduras</p>
<p><b>Campus:</b> Sagrado Corazón de Jesús</p>
<p><b>Título:</b> Ing. en Ciencias de la Computación</p>
  
